* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* common title */
.common-title {
    text-align: center;
    color: #353535;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.space-top {
    margin-top: 100px;
}

.space-top-sixty {
    margin-top: 60px;
}

.space-top-80 {
    margin-top: 80px;
}

.space-bottom {
    margin-bottom: 60px;
}

/* ************************************NAVBAR START************************************ */
nav {
    position: absolute;
    padding-top: 56px;
    z-index: 111;
    width: 100%;
}

nav .content {
    display: flex;
}

nav .logo {
    width: 20%;
    margin-top: 14px;
    cursor: pointer;
}

nav .nav-item {
    width: 70%;
}

nav .nav-item {
    text-align: right;
}

nav .nav-item ul li {
    display: inline-block;
    margin: 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 31px;
    height: 31px;
    text-transform: capitalize;
    margin-top: 33px;
}

nav .nav-item ul li a {
    color: #fdfdfe;
    position: relative;
}

nav .nav-item ul li .active {
    color: #744FA0;
}

nav .nav-item ul li a:hover {
    color: #744FA0;
}

nav .nav-item ul li .underline:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 18px;
    height: 1px;
    background: #744FA0;
    margin-top: 5px;
    transition: .4s;
}

nav .nav-item ul li a:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0px;
    height: 1px;
    background: #744FA0;
    margin-top: 5px;
    transition: .4s;
}

nav .nav-item ul li a:hover:after {
    width: 18px;
}

nav .button {
    width: 10%;
    margin-top: 41px;
}

nav .button a {
    background: #744FA0;
    padding: 7px 20px;
    border-radius: 3px;
    color: #fdfdfe;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
}

nav .button:hover a {
    color: #744FA0;
    background: #fdfdfe;
    cursor: pointer;
}

/* ************************************NAVBAR END************************************ */

/* ************************************BANNER START************************************ */
#banner-part {
    position: relative;
}

#banner-part .banner {
    background: url(../images/banner1.jpg) no-repeat center;
    background-size: cover;
}

#banner-part .home {
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 41%;
    right: 51px;
    z-index: 11;
}

#banner-part .home:hover {
    color: #744fa0;
}

#banner-part .banner .overlay {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.7);
    color: white;
    text-align: right;
    padding: 100px 0px;
}

#banner-part .banner .overlay .details {
    margin-right: 38px;
    margin-top: 130px;
}

#banner-part .banner .overlay h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
    line-height: 40px;
}

#banner-part .banner .overlay h1::first-letter {
    color: #744FA0;
}

#banner-part .banner .overlay h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 75px;
    text-transform: capitalize;
    position: relative;
}

#banner-part .banner .overlay h3:after {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 200px;
    height: 1px;
    background: #fff;
    content: "";
}

#banner-part .banner .overlay .details {
    position: relative;
}

#banner-part .banner .overlay a {
    display: inline-block;
    background: #fff;
    color: #353535;
    font-size: 18px;
    text-align: left;
    padding: 10px 20px;
    position: relative;
    padding-left: 50px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 12px;
}

#banner-part .banner .overlay a:hover {
    background: #744fa0;
    color: #fff;
}

#banner-part .banner .overlay .active {
    background: #744fa0;
    color: #fff;
}

#banner-part .banner .overlay .active:hover {
    background: #fff;
    color: #353535;
}

#banner-part .slick-dots {
    position: absolute;
    top: 54%;
    right: 40px;
    transform: translateY(-50%);
}

#banner-part .slick-dots li button {
    font-size: 0;
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 10px 12px;
    background: transparent;
    position: relative;
}

#banner-part .slick-dots li.slick-active button {
    border: 2px solid #744fa0;
}

#banner-part .slick-dots li button:after {
    width: 8px;
    height: 8px;
    background: #744fa0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    content: "";
    opacity: 0;
}

#banner-part .slick-dots .slick-active button:after {
    opacity: 1;
}

#banner-part .banner .overlay a span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 2px;
}

#banner-part .banner .overlay a .span1 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

#banner-part .banner .overlay a i {
    font-size: 28px;
    position: absolute;
    top: 18px;
    left: 13px;
}

#banner-part .banner .overlay p {
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #f1f1f1;
    font-size: 14px;
    padding: 40px 0 30px 0;
    max-width: 500px;
    line-height: 24px;
}

#banner-part .banner-2 {
    background: url(../images/banner2.jpg) no-repeat center;
}

#banner-part .banner-3 {
    background: url(../images/banner3.jpg) no-repeat center;
}

/* ************************************BANNER END************************************ */
/* ************************************ABOUT START************************************ */
#about-part .about-content {
    display: flex;
    justify-content: space-between;
}

#about-part .about-left p {
    padding: 0 102px 20px 102px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #777;
    line-height: 24px;
    text-align: center;
}

/* #about-part .about-left h2{
    margin-top: 60px;
} */
/* ************************************ABOUT END************************************ */
/* ************************************SERVICE START************************************ */
#service-part {
    background: #f1f1f1;
    padding: 60px 0 45px 0;
}

.service-content {
    display: flex;
}

.service-content .navigation {
    width: 54%;
}

.service-content .navigation .item {
    position: relative;
    padding-left: 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
    cursor: pointer;
    transition: .4s;
}

.service-content .navigation .item:hover i,
.service-content .navigation .item:hover h3,
.service-content .navigation .item:hover p {
    color: #744fa0;
}

.service-content .navigation .item:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 265px;
    height: 1px;
    background: #000;
    transition: .4s;
}

.service-content .navigation .item:last-child:after {
    opacity: 0;
}

.service-content .navigation .item:hover:after {
    background: #744fa0;
    width: 350px;
}


.service-content .navigation .item i {
    font-size: 30px;
    color: #353535;
    position: absolute;
    top: 5px;
    left: 0;
}

.service-content h3,
.service-content .item-content .details h3 {
    color: #353535;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.service-content .item-content .details p {
    margin-top: 30px;
    padding-left: 45px;
}

.service-content p,
.service-content .item-content .details p {
    color: #777;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.service-content .item-content {
    display: flex;
    text-align: right;
    margin-left: 19%;
}

.service-content .item-content .img {
    width: 60%;
}

.service-content .item-content .img img {
    width: 82%;
    height: 442px;
    display: block;
}

.service-content .item-content .details {
    width: 79%;
}

/* *******************Feature Active:MixItUp***************** */

.mixitup-control-active .mixi-active {
    color: #744fa0 !important;
}

.mixitup-control-active::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    background: #744fa0 !important;
    width: 350px;
    height: 1px;
    z-index: 999;
}

/* ************************************SERVICE END************************************ */
/* ************************************SS START************************************ */
#screenshot-part {
    margin-top: 100px;
}

#screenshot-part .image-slider img {
    margin: 0 10px;
}

#screenshot-part .slick-dots {
    text-align: center;
    margin-top: 50px;
}

#screenshot-part .slick-dots li {
    display: inline-block;
    margin: 0 10px;
}

#screenshot-part .slick-dots li button {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #000;
    position: relative;
    border-radius: 50%;
    font-size: 0;
}

#screenshot-part .slick-dots li button:after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #744fa0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    opacity: 0;
    transition: .4s;
    cursor: pointer;
}

#screenshot-part .slick-dots .slick-active button:after {
    opacity: 1;
}

#screenshot-part .slick-dots li.slick-active button {
    border: 2px solid #744fa0;
}

/* ************************************SS END************************************ */
/* **********************************VIDEO START************************************ */
#video-part .video-bg {
    background: url(../images/video_img.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#video-part .video-bg .overlay {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .8);
    font-size: 80px;
    padding: 220px 0px;
    text-align: center;
}

#video-part .video-bg .overlay a {
    color: #744fa0;
}

/* **********************************VIDEO END************************************ */
/* **********************************PRICE START************************************ */
#price-part {
    margin-top: 100px;
}

#price-part .price-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#price-part .price-content .item {
    width: 23%;
    margin-right: 10px;
}

#price-part .price-content .item h3 {
    background: #f1f1f1;
    padding: 19px 0;
    border-radius: 15px 15px 0 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #353535;
    font-weight: 700;
    text-transform: uppercase;
}

#price-part .price-content .item:hover h3 {
    background: #744fa0;
    color: #fff;
}

#price-part .item .box {
    border: 1px solid #f1f1f1;
}

#price-part .item .box .round {
    width: 110px;
    height: 110px;
    border: 3px solid #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}

#price-part .price-content .item .price h5 {
    color: #353535;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

#price-part .price-content .item .price span {
    font-size: 42px;
}

#price-part .price-content .item .price p {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #555;
}

#price-part .price-content .item ul {
    background: #f1f1f1;
    padding: 35px 0 50px 0;
    line-height: 24px;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-radius: 0 0 15px 15px;
}

#price-part .price-content .item ul li {
    text-align: center;
}

#price-part .item .button {
    text-align: center;
    transition: .4s;
}

#price-part .item .button a {
    padding: 6px 10px;
    border: 1px solid #353535;
    border-radius: 3px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #353535;
    transform: translateY(-50%);
    transition: .4s;
}

#price-part .item:hover h2 {
    background: #744fa0;
    color: #fff;
}

#price-part .item:hover .button a {
    background: #744fa0;
    color: #fff;
    border-color: #744fa0;
}

/* **********************************PRICE END************************************ */